<div class="footer">
            <div class="contact">
              <p>
		<a href="http://www.cdm.depaul.edu/" target="_blank"><img src="/assets/depaullogo.jpg" alt="DePaul" width="25" height="25"/></a>
        	<a href="https://www.linkedin.com/in/matthewscottbane" target="_blank"><img src="/assets/linkedin.png" alt="LinkedinIcon" width="25" height="25"/></a>
        	<a href="mailto:matthewsbane@gmail.com" target="_blank"><img src="/assets/email.png" alt="email icon" width="25" height="25"/></a><br />
                <a href="https://github.com/mattbane">github.com/mattbane</a><br />
                <a href="https://twitter.com/mbane">twitter.com/mbane</a><br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
