
<h2><u>EDUCATION</u></h2>

<p>Master of Science in Computer Science with a Concentration in Artificial Intelligence, June 2014.<br />
DePaul University, School of Computing and Digital Media, Chicago, IL <br />
GPA: 3.88/4.00</p>

<p>Bachelor of Science in Economics with a Concentration in Finance, 2000 <br />
University of Pennsylvania, Wharton School, Philadelphia, PA </p>

<h2><u>TECHNICAL SKILLS</u></h2>

<p>• Java, C#, some Scala&nbsp;&nbsp;&nbsp;• R, Excel, Weka, some MATLAB&nbsp;&nbsp;&nbsp;• Visual Studio, Eclipse <br />
• SQL, PL/SQL, MS Access, Oracle&nbsp;&nbsp;&nbsp;• XML, HTML, CSS&nbsp;&nbsp;&nbsp;• Hadoop, Hive, Pig, Mahout</p>

<h2><u>EMPLOYMENT</u></h2>

<p><strong>M&amp;N Trading</strong>, Chicago, IL&nbsp;&nbsp;&nbsp;Feb. 2013-Sept. 2013 <br />
<em>Quantitative Trader and Developer</em> <br />
• Traded U.S. fixed income cash and futures markets using an automated statistical arbitrage <br />
&nbsp;&nbsp;trading strategy <br />
• Developed trading algorithm in C# using CQG Trading API. <br />
• Used R to perform data analysis, build experimental trading models, and extract data from <br />
&nbsp;&nbsp;Microsoft Access database. <br />
• Created XML documents to transfer data between various applications. <br />
<p> </p>
<strong>Hard 8 Futures LLC</strong>, Chicago, IL&nbsp;&nbsp;&nbsp;April 2012-Jan. 2013 <br />
<em>Quantitative Trader and Developer</em> <br />
• Researched, developed, and traded automated applications in the U.S. fixed income cash and <br />
&nbsp;&nbsp;futures markets and U.S. equity futures markets using a statistical arbitrage trading strategy. <br />
• Development done in C# with Trading Technologies, TT API. <br />
• Applied various financial data analysis and modeling techniques to price futures markets with <br />
&nbsp;&nbsp;a term-structure, reducing dimensionality and facilitating computation. <br />
• Implemented a database using Microsoft Access to warehouse extensive amounts of financial data. <br />
<p> </p>
<strong>Gelber Group LLC</strong>, Chicago, IL&nbsp;&nbsp;&nbsp;Jan. 2009-Jan. 2012 <br />
<em>Quantitative Trader and Developer</em> <br />
• Researched, developed, and traded automated mid-frequency trading applications for FX cash<br />
&nbsp;&nbsp;and futures markets, crude oil, natural gas, corn, soy bean, and wheat futures markets. <br />
• Utilized GVelocity a proprietary trading API written in C# to develop applications. <br />
• Performed various financial data analysis using Bloomberg excel add-in. <br />
<p> </p>
<strong>Gelber Group LLC</strong>, Chicago, IL&nbsp;&nbsp;&nbsp;June 2002-Dec. 2008 <br />
<em>Proprietary Trader</em> <br />
• Managed a trading account specializing in U.S. and European fixed income, equity, commodity <br />
&nbsp;&nbsp;derivatives (futures and options), and their underlying cash instruments. <br />
• Employed methods of relative value, statistical arbitrage, and market making to take advantage <br />
&nbsp;&nbsp;of short-term price discrepancies. <br />
• Utilized mean reversion and pairs trading for multi-day strategies. <br />
• Performed daily statistics to monitor profitability and risk. <br />
<p> </p>
<strong>Group One Trading LP</strong>, Chicago, IL&nbsp;&nbsp;&nbsp;Jan. 2001-Jan. 2002 <br />
Chicago Board Options Exchange <br />
<em>Trader Trainee</em> <br />
• Assisted traders with risk management activities updating delta, gamma, theta, and vega <br />
&nbsp;&nbsp;parameters and applying appropriate underlying hedge for multiple equity options. <br />
• Updated traders’ positions to reflect current market volatility estimates.  </p>



