<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Software engineering, big data, statistics, and machine learning enthusiast.  <a href="/about">Read more about me here.</a></p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/mattbane" target="_blank"><img src="/assets/GitHub-Mark-32px.png" alt="email icon" width="25" height="25"/></a>
              <a href="https://twitter.com/mbane" target="_blank"><img src="/assets/bird_blue_32.png" alt="email icon" width="25" height="25"/></a></li>
              <li><a href="https://www.linkedin.com/in/matthewscottbane" target="_blank"><img src="/assets/linkedin.png" alt="LinkedinIcon" width="25" height="25"/></a>
	      <a href="mailto:matthewsbane@gmail.com" target="_blank"><img src="/assets/email.png" alt="email icon" width="25" height="25"/></a></a></li>
            </ol>
          </div>
	 <div class="sidebar-module">
            <h4>Twitter</h4>
            <a class="twitter-timeline" href="https://twitter.com/mbane" data-widget-id="481506461114040321">Tweets by @mbane</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div><!-- /.blog-sidebar -->

 </div><!-- /.row -->

